// Variables
$ovo: "Ovo", serif;
$montserrat: "Montserrat", sans-serif;
$lato: "Lato", sans-serif;
// Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
